.normal_icon_out {
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.normal_icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}

.node_hide {
    display: none !important;
}

.tabs_bottom {
    background-color: #242526;
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 14px;
}

.tabs_bottom,
.tabs_bottom .menu_list {
    display: flex;
    align-items: center;
    height: 40px;
}

.menu_list {
    line-height: 40px;
    list-style: none;
    margin: 0;
    max-width: 96%;
    padding-left: 0;
}

.menu_item {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    min-width: 102px;
    padding: 0 15px;
    position: relative;
    user-select: none;
}

.menu_item:hover {
    background-color: hsla(0deg, 0%, 100%, .2)
}

.menu_list .prepare_view {
    color: #fff !important;
    text-align: left;
    width: 208px;
}

.menu_item::after {
    content: '';
    height: 20px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    background-color: hsla(0, 0%, 100%, .1);
}

/* 工作台 */
.sheet_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    overflow-x: auto;
    padding: 0;
    width: calc(100% - 208px);
}


/* 自定义scroll */
.sheet_list::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.sheet_list::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 8px;
}

.sheet_list::-webkit-scrollbar-track {
    background-color: #ececec;
    border-radius: 8px;
}

.color_content {
    height: 26px;
    width: 200px;
}

.color_item {
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 5px;
    width: 14px;
}

.sheet_item {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, .1);
}

.sheet_item.active {
    background-color: rgb(17, 110, 222);
}

.panel_link {
    position: absolute;
    right: 5px;
    top: 0px;
    transition: all .3s ease;
}

.panel_link:hover {
    transform: rotate(180deg);
}


.tabs_bottom .menu_list .menu_item span {
    color: #fff;
    position: relative;
    z-index: 1;
}

.create_btn {
    border: 1px solid hsla(0, 0%, 100%, .3);
    border-radius: 3px;
    cursor: pointer;
    height: 24px;
    line-height: 23px;
    margin-left: 20px;
    text-align: center;
    width: 24px;
}