.hidenode {
    display: none !important;
}

.form_col {
    line-height: 40px;
    position: relative;
}

.item_label {
    text-align: left;
    display: inline-block;
    flex-grow: 0;
    line-height: 40px;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
}

.input_color_out {
    border: 1px solid hsl(217deg, 5%, 69%);
    cursor: pointer;
    height: 16px;
    left: 7px;
    line-height: 10px;
    margin-left: 6px;
    position: relative;
    width: 16px;
    display: inline-block;
}

.input_color {
    height: 12px;
    width: 12px;
    margin: 1px;
    padding: 0px;
    background-color: hsl(0deg, 0%, 91%);
    border: 0px;
    position: relative;
    top: -1px;
}